header {
  background-color: #ff7300;
  text-align: center;
  padding: 25px;
}

header h1 {
  margin: 0;
  display: inline-block;
}

header nav {
  float: right;
}

ol {
  margin-left: 50px;
}

body {
  background-color: #FFB273;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 25px 0;
}

footer {
  background-color: #009999;
  padding: 25px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-center img {
  margin: 10px;
  height: 486px;
}

#image1 {
  width: 341px;
  background-color: #cd4a6c;
  -webkit-animation: anim 1.5s ease 0s infinite normal;
  animation: anim 1.5s ease 0s infinite normal;
}

#image2 {
  width: 729px;
  height: 486px;
  background-color: #2a425d;
}

@-webkit-keyframes anim {
  0% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
  20% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
  40% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 48% 0);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 48% 0);
  }
  50% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 100% 52%, 100% 20%, 80% 0%, 48% 0);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 100% 52%, 100% 20%, 80% 0%, 48% 0);
  }
  60% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 0 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 100% 52%, 100% 20%, 80% 0%, 48% 0);
    clip-path: polygon(20% 0%, 0% 20%, 0 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 100% 52%, 100% 20%, 80% 0%, 48% 0);
  }
  80% {
    -webkit-clip-path: polygon(0 0, 0% 20%, 0 50%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 100% 52%, 100% 20%, 100% 1%, 48% 0);
    clip-path: polygon(0 0, 0% 20%, 0 50%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 100% 52%, 100% 20%, 100% 1%, 48% 0);
  }
  100% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
}

@keyframes anim {
  0% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
  20% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
  40% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 48% 0);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 48% 0);
  }
  50% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 100% 52%, 100% 20%, 80% 0%, 48% 0);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 100% 52%, 100% 20%, 80% 0%, 48% 0);
  }
  60% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 0 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 100% 52%, 100% 20%, 80% 0%, 48% 0);
    clip-path: polygon(20% 0%, 0% 20%, 0 50%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 100% 52%, 100% 20%, 80% 0%, 48% 0);
  }
  80% {
    -webkit-clip-path: polygon(0 0, 0% 20%, 0 50%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 100% 52%, 100% 20%, 100% 1%, 48% 0);
    clip-path: polygon(0 0, 0% 20%, 0 50%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 100% 52%, 100% 20%, 100% 1%, 48% 0);
  }
  100% {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
}

.dark-mode * {
  background-color: black;
  color: yellow;
}
/*# sourceMappingURL=style.css.map */